version: '2'

services:
  nginx:
    image: vulhub/nginx:1
    container_name: nginx-lab
    ports:
      - "8080:8080"
      - "8081:8081"
      - "8082:8082"
    volumes:
      - ./configuration:/etc/nginx/conf.d
      - ./files:/home
      - ./www:/usr/share/nginx/html
    networks:
      - labnet

networks:
  labnet:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.2.0/24
